#child1 {
    border: 1px solid #000;
    background-color: bisque;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 800px;
    z-index: 2;
    transition: all 1s;
}

#child1:hover {
    z-index: 0;
}

#child2 {
    border: 1px solid #000;
    background-color: crimson;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 750px;
    z-index: 1;
    transition: all 1s;
}

#box1 {
    width: 500px;
    height: 400px;
    background-color: orange;
    position: absolute;
    top: -400px;
    left: -500px;
    transition: all 1s;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: grey;
    position: absolute;
    bottom: -100px;
    right: -100px;    
    transition: all 1s;
}

#box3 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: -100px;
    right: -100px;    
    transition: all 1s;
}

section {
    width: 500px;
    height: 400px;
    border: 1px solid #f00;
    position: relative;
    top: 200px;
    left: 200px;
    overflow: hidden;
}

section:hover #box1 {
    top:0;
    left: 0;
}

section:hover #box2 {
    bottom: 0;
    right: 0;
}

aside.first div.relative {
    width: 150px;
    height: 240px;
    position: relative;    
    border: 1px solid #000;
    cursor: pointer;
    left: 750px;
    top:150px;
    overflow: hidden;
}

aside.first div.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fac800;

    bottom: -190px;
    transition: 1.0s;
}

aside.first div.relative:hover .absolute {
    bottom:0px;
}

aside.first div.absolute span {
    display: block;
    margin: 0 auto;    
    text-align: center;
    padding-top: 0.5rem;  
}

aside.second div.relative {
    width: 300px;
    height: 150px;
    position: relative;    
    border: 1px solid #000;
    background-color: #2958a8;
    cursor: pointer;
    left: 150px;
    top:0px;
    overflow: hidden;
}

aside.second div.absolute {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fec800;
    position: absolute;    
    
    right: 50px;
    bottom: 15px;
}