#child1 {
    border: 1px solid #000;
    background-color: bisque;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 800px;
    z-index: 2;
    transition: all 1s;
}

#child1:hover {
    z-index: 0;
}

#child2 {
    border: 1px solid #000;
    background-color: crimson;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 750px;
    z-index: 1;
    transition: all 1s;
}

#box1 {
    width: 500px;
    height: 400px;
    background-color: orange;
    position: absolute;
    top: -400px;
    left: -500px;
    transition: all 1s;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: grey;
    position: absolute;
    bottom: -100px;
    right: -100px;    
    transition: all 1s;
}

#box3 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: -100px;
    right: -100px;    
    transition: all 1s;
}

section {
    width: 500px;
    height: 400px;
    border: 1px solid #f00;
    position: relative;
    top: 200px;
    left: 200px;
    overflow: hidden;
}

section:hover #box1 {
    top:0;
    left: 0;
}

section:hover #box2 {
    bottom: 0;
    right: 0;
}