/* Eric A. Meyer's CSS RESET import*/
@import url("reset.css");

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

header, body > section h2, body > section article {    
    margin: 0.5rem 0;
    padding: 0.25rem;
}

header {
    width: 100%;
    /*border: 1px solid #000;*/  
}

hgroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header hgroup h1, header hgroup h2 {
    width: 50%;
    /*border: 1px solid red;*/
}

figure {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid #f00;*/
}

figure div {
    /*border: 1px solid #00f;*/
    width: 23.5%;
    margin: 0 1%;
}

figure div:first-child {
    margin-left: 0;
}

figure div:last-child {
    margin-right: 0;
}

figure div img {
    max-width: 100%;
    display: block;
}

body > section {
    width: 100%;
    /*border: 1px solid #000;*/
}

body > section h2 {
    width: 100%;
    /*border: 1px solid #000;*/
}

body > section article {
    width: 50%;
    /*border: 1px solid #000;*/
}

body > section article img {
    display: block;
    max-width: 100%;
}

body > section article:last-of-type {
    background-color: rgb(137, 180, 17);
}